*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 16px;
}

a{
    text-decoration: none;
}

body {
    margin: 0;
    min-height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;     
    background: #d6e0ec;
    font-family: "Zain", sans-serif;
    padding: 1.25rem;
}

.Form{
    width: 70%;
    height: 80vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center; 
    align-items: center;  
    border-radius: 1.25rem;
    gap: 2rem;
    padding: 0 2.5rem;
    box-shadow: 0 0.5rem 1.25rem rgba(0,0,0,0.1);
}

.formDescription{
    flex: 1;
    padding: 1.25rem;
}

.formDescription span{
    color: #3bdfac;
    font-size: 1.375rem;
    font-family: "Zain", sans-serif;
    font-weight: 500;
}

.formDescription h1{
    font-size: 3.4375rem;
    font-weight: 900;
}

.formDescription p{
    max-width: 50ch;
    font-size: 1.5625rem;
    line-height: 1.5;
}

.para{
    margin-top: 2.1875rem;
    color: #666;
}

.formDescription a{
    color: #3bdfac;
    font-size: 1.125rem;
}

.aLinks{
    display: flex;
    gap: 1.25rem;
}

.formInputs{
    flex: 1; 
    padding: 1.25rem;
}

.formInputs form{
    margin-top: 3.125rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.formInputs input{
    padding: 0.9375rem 0.9375rem;
    border: 0.0625rem solid #9f9a9a;
    border-radius: 0.3125rem;
    margin-bottom: 0.625rem;
    font-size: 1.0625rem;
}

.formInputs input:focus{
    outline: 0.125rem solid #3bdfac;
}

.notBlock {
    flex: 1 1 calc(50% - 0.625rem);
}

.block {
    flex: 1 1 100%;
}

.formInputs button{
    padding: 0.9375rem 2.5rem;
    color: white;
    background-color: #3bdfac;
    border: 0;
    border-radius: 0.3125rem;
    font-size: 1rem;
    margin-top: 0.625rem;
    transition: background-color 0.3s ease;
}

.formInputs button:hover{
    background-color: #2ea47e;
    cursor: pointer;
}

.errorMsg{
    display: none;
    color: red;
    font-size: 17px;
    flex: 1 1 100%;
}

.success-msg{
    display: none;
    color: green;
    font-size: 17px;
    flex: 1 1 100%;
}

/* ------------------Responsive-------------------- */
@media (max-width: 768px) {
    html{
        font-size: 14px;
    }
    .Form {
        flex-direction: column;
        height: auto;
        padding: 1.25rem;
    }
    .formDescription h1 {
        font-size: 2rem;
    }
    .formDescription p {
        font-size: 1.125rem;
    }
    .aLinks{
        flex-direction: column;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    html {
        font-size: 15px; 
    }

    .Form {
        width: 90%;       
        height: auto;     
        padding: 1.5rem;  
    }

    .formDescription h1 {
        font-size: 2.5rem; 
    }

    .formInputs form {
        margin-top: 2rem;
    }

    .aLinks {
        flex-direction: row; 
        gap: 1rem;
        flex-wrap: wrap;     
    }
}
