*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 16px;
}

body{
  font-family: Nunito, sans-serif;
}

#menuToggle{
    display: none;
}

.labelsMenu{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 1.875rem;
    height: 1.25rem;
    cursor: pointer;
}

.labelsMenu span{
    display: block;
    height: 0.1875rem;
    background: white;
    border-radius: 0.125rem;
}

.closeBtn{
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    margin-left: auto;
    margin-bottom: 0;
    display: none;
}



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    padding: 1.5625rem 2.5rem;
    color: white;
}


nav ul{
    list-style-type: none;
    display: flex;
    gap: 3.125rem;
}

nav ul li{
    margin-right: 0.9375rem;
}


nav ul li a:hover{
    color: #8B5E3C;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
}

nav.scrolled {
  background-color: rgba(139, 94, 60, 0.9) !important;
}

/* ------Hero Section-------- */
header{
    height: 100vh;
    background-image: url(../media/heroImage.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

.title{
    color: #8B5E3C;
    font-size: 4.375rem;
    
}

header p{
    font-size: 1.25rem;
    color: #d7c3b4;
    margin: 1.25rem 0;
    max-width: 60ch;
    text-align: center;
}

.order{
    padding: 0.9375rem 1.875rem;
    border-radius: 0.625rem;
    color: #d7c3b4;
    font-size: 1.25rem;
    font-family: roboto;
    font-weight: 500;
    background-color: #8B5E3C;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.order:hover{
    background-color: #d7c3b4;
    color: #8B5E3C;
}

header h1, 
header p,
.order {
    position: relative;
    z-index: 1;
    animation: slideUp 1s ease-in-out forwards;
}

@keyframes slideUp {
  0%{
    transform: translateY(100px);
  }
  100%{
    transform: translateY(0px);
  }
}
/* --------------Slider part-------------- */
#slider {
    background-color: #f5e9e0; 
    border-top: 0.125rem solid #d7c3b4; 
    border-bottom: 0.125rem solid #d7c3b4;
    padding: 1.25rem;
    overflow: hidden;
    white-space: nowrap;
    color: #8B5E3C;  
    font-size: 1.125rem;
    font-weight: 600;
}

#slider ul {
    display: flex;
    gap: 3.125rem;
    animation: slider 18s linear infinite;
}

#slider li {
    list-style: none;
    padding: 0 0.9375rem;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
}

@keyframes slider {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}


/* --------features Section------------- */
#features{
    margin-top: 2.5rem;
    text-align: center;
}

#features h2{
    color: #8B5E3C;
    font-size: 1.875rem;
    font-family: Nunito;
    margin-bottom: 1.25rem;
}
.cards {
    display: flex;
    align-items: stretch; 
    justify-content: center;
    gap: 1.875rem;
    padding: 1.875rem;
    flex-wrap: wrap; 
}
.cards {
    display: flex;
    align-items: stretch; 
    justify-content: center;
    gap: 1.875rem;
    padding: 1.875rem;
    flex-wrap: wrap; 
}

.card {
    background-color: #8B5E3C;
    color: #d7c3b4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    width: 21.875rem;
    min-height: 26.25rem; 
    padding: 2.5rem 1.5625rem;
    border-radius: 1.5625rem;
    box-shadow: 0 0.5rem 1.5625rem rgba(0,0,0,0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.card i {
    font-size: 3.125rem;
    margin-bottom: 1.25rem;
    color: #f5e2d0;
}

.card h3 {
    margin-bottom: 1.25rem;
    font-size: 1.375rem;
    font-weight: 700;
}

.card p {
    font-size: 1.0625rem;
    line-height: 1.7;
    color: #f2e3da;
}

.card:hover {
    transform: translateY(-0.75rem) scale(1.05);
    background-color: #a07150; 
}


/* -----------Footer----------- */
footer{
    margin-top: 3.125rem;
    height: 1.25rem;
    padding: 2.5rem 0;
    font-size: 1.0625rem;
    text-align: center;
    background-color: #a07150;
    color: #d7c3b4;
}

/*--------Responsive----------  */
@media (max-width: 768px) {
    html{
        font-size: 14px;
    }
    
    nav ul{
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 50%;
        background-color: #8B5E3C;
        color: #d7c3b4;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0.625rem 1.875rem;
        gap: 1.25rem;
        transition: right 0.3s ease-in-out;
    }

    .closeBtn {
        display: block;
    }
        
    #menuToggle:checked ~ .navLinks{
        right: 0;
    }

    .labelsMenu{
        display: flex;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 17px; 
    }
}
